{% load crispy_forms_tags %}
{% load static %}


{% include 'pages/header-refrences.html' %}


{% load i18n %}

<div class="container">

    <div class="container-sm mt-3">
        <h1 class="btn btn-warning container" style="width: 270px">مطمعنی که میخوای خارج بشی؟</h1>
        <form action="" method="post">

            {% csrf_token %}

            <input class="btn btn-success container-md" style="width: 200px" type="submit" value="بله مطمعنم">
            <br>



        </form>
        <a  class="btn btn-danger container-md" style="width: 200px" href="{% url 'home' %}"><p>نه برمیگردم</p></a>
    </div>

</div>
{% include 'pages/footer.html' %}
{% include 'pages/footer-refrences.html' %}