{% load static %}
{% load i18n %}
{% load humanize %}
{% load translation_number %}
{% load crispy_forms_tags %}

{% include 'pages/header-refrences.html' %}

<!-- Vendor CSS -->
<link rel="stylesheet" href="{% static 'css/vendor.css' %}">

<!-- style css -->
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<link rel="stylesheet" href="{% static 'css/_base.css' %}">

<!-- Main Content Wrapper Start -->
<div class="main-content-wrapper">
    <div class="page-content-inner">
        <div class="container">
            <div class="row pt--50 pt-md--40 pt-sm--20"></div>
            <div class="row pb--80 pb-md--60 pb-sm--40">
                <!-- Checkout Area Start -->
                <div class="col-lg-6">
                    <div class="checkout-title mt--10">
                        <h2>{% translate 'order detail' %}</h2>
                    </div>
                    <div class="checkout-form">
                        <form action="#" class="form form--checkout" method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div>
                                <button class="btn btn-primary py-3 px-5"
                                        type="submit">{% translate 'Send Message' %}</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xl-5 offset-xl-1 col-lg-6 mt-md--40">
                    <div class="order-details">
                        <div class="checkout-title mt--10">
                            <h2>{% translate 'your order' %}</h2>
                        </div>
                        <div class="table-content table-responsive mb--30">
                            <table class="table order-table order-table-2">
                                <thead>
                                <tr>
                                    <th>{% translate 'book' %}</th>
                                    <th class="text-right">{% translate 'total price' %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in cart %}
                                    <tr>
                                        <th>{{ item.book_obj.title }}
                                            (<strong><span>&#10005;</span>{{ item.quantity|translate_number }}</strong>)
                                        </th>
                                        <td class="text-right">{{ item.total_price|intcomma:False|translate_number }} {% translate '$' %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr class="cart-subtotal">
                                    <th>{% translate 'total' %}</th>
                                    <td class="text-right">
                                        {{ cart.get_total_price|intcomma:False|translate_number }}{% translate '$' %} </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="checkout-payment">
                            <h2 class="py-5">{% translate 'Payment method' %}</h2>
                            <form action="#" class="payment-form">
                                <div class="payment-group mb--10">
                                    <div class="payment-radio">
                                        <input type="radio" value="bank" name="payment-method" id="bank" checked>
                                        <label class="payment-label"
                                               for="cheque">{% translate 'Zarin Pal online portal' %}</label>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>
                    <div>
                        <a class="btn btn-outline-primary" href="{% url 'home' %}"><p>{% translate 'return to home' %}</p></a>
                    </div>

                </div>

                <!-- Checkout Area End -->
            </div>
        </div>
    </div>
</div>
<!-- Main Content Wrapper Start -->


{% include 'pages/footer.html' %}
{% include 'pages/footer-refrences.html' %}