{% load static %}


<!-- Start Newsletter Section -->
<section id="newsletter" class="ptb">
    <section class="container container-fluid">
        <section class="row-fluid">
            <figure class="span7">
                <h2>
                    عضویت در خبرنامه ما!
                </h2>
                <h4>
                    برای فصل رایگان
                    <span>
ما newletter را دریافت کنید!
</span></h4>
            </figure>
            <figure class="span5">
                <form id="newsletter_form" method="post" action="#">
                    <input type="text" value="domain@myhosting.com" name="newsletter_form"/>
                    <input type="submit" value="
مشترک شدن در
"/>
                </form>
            </figure>
        </section>
    </section>
</section>
<!-- End Newsletter Section -->

<!-- Start Footer Section -->
<section id="footer" class="ptb">
    <section class="container container-fluid">
        <section class="row-fluid">
            <figure class="span7">
                <nav>
                    <ul>
                        <li><a href="index.html">صفحه اصلی</a></li>
                        <li><a href="blog.html"> وبلاگ </a></li>
                        <li><a href="blog-single.html"> جزییات وبلاگ</a></li>
                        <li><a href="blog-without-sidebar.html">
                            وبلاگ تمام پهنا
                        </a></li>
                        <li><a href="contact.html">تماس با ما</a></li>
                    </ul>
                </nav>
            </figure>
            <figure class="span5">

                گروه طراحی و ترجمه ی <a href="http://skinak.ir/">اسکینک</a>
            </figure>
        </section>
    </section>
</section>
<!-- End Footer Section -->
</div>

<div class="switcher"></div>