{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>قالب کتابخانه ی اسکینک</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,300,200,500,600,700,800,900' rel='stylesheet'
          type='text/css'>


    <!-- Google Font -->
    <!-- Css Files Start -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
    <!-- All css -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
    <!-- Bootstrap Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main-slider.css' %}"/>
    <!-- Main Slider Css -->
    <!--[if lte IE 10]>
    <link rel="stylesheet" type="text/css" href="{% static 'css/customIE.css'%}" />
    <![endif]-->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" type="text/css"/>
    <!-- Font Awesome Css -->
    <link href="{% static 'css/font-awesome-ie7.css' %}" rel="stylesheet" type="text/css"/>
    <!-- Font Awesome iE7 Css -->
    <link href="{% static 'css/jquery.mCustomScrollbar.css' %}" rel="stylesheet" type="text/css"/>
    <!-- Font Awesome iE7 Css -->
    <!-- color Switcher -->
    <link href="{% static 'css/switcher.css' %}" rel="stylesheet" type="text/css"/>
    <!-- color Switcher -->
    <noscript>
        <link rel="stylesheet" type="text/css" href="{% static 'css/noJS.css' %}"/>
    </noscript>
    <!-- Css Files End -->

    <link rel="stylesheet" id="skins" href="{% static 'css/default.css' %}" type="text/css" media="all"><!-- skins -->
</head>
