{% load static %}
{% load i18n %}
{% load humanize %}
{% load translation_number %}

{% include 'pages/header-refrences.html' %}

{% include 'pages/header.html' %}


<div class="container mt-4">
    <div class="row flex-row-reverse justify-content-md-center">
        {% for book in books %}
            <div class="card m-2" style="max-width: 45%">
                <div class="row g-0 h-100" dir="rtl">
                    <div class="col-md-4">
                        <a href="{{ book.get_absolute_url }}"><img src="{{ book.image.url }}"
                                                                   class="img-fluid rounded-start" alt="..."></a>
                    </div>
                    <div class="col-md-8 h-100">
                        <div class="d-flex flex-column justify-content-between h-100">
                            <div class="card-body">
                                <a href="{{ book.get_absolute_url }}" class="text-decoration-none"><h3
                                        class="card-title" style="color: grey">
                                    <strong>{{ book.title }}</strong></h3></a>
                                <p class="card-text pt-3">{{ book.description|truncatewords:20 }}</p>
                                <p class="text-muted">{% translate 'author' %}: {{ book.author }}</p>
                                <del>{{ book.price|intcomma:False|translate_number }}{% translate '$' %}</del>
                                <h4 style="color: brown">{{ book.discount|intcomma:False|translate_number }}{% translate '$' %}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="col-12">
            <nav aria-label="Page navigation example">
                {% if page_obj.has_other_pages %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page=

                            {{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{% translate 'Previous' %}</a>
                            </li>
                        {% endif %}
                        {% for i in page_obj.paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="page-item"><a class="page-link" href="?page=

                            {{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page=

                                    {{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page=

                                    {{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{% translate 'Next' %}</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </nav>
        </div>
    </div>
</div>

{% include 'pages/footer.html' %}

{% include 'pages/footer-refrences.html' %}